// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



ion-header{
  ion-navbar{
    ion-title{
      text-align: center;
    }
  }
}

#login, #register, #forgot{
  background-color: color($colors, primary);
  .item-input .label-md, .item-datetime .label-md{
    color: white;
  }
  form{
    margin-top: 40px;
  }
  .loginBtn, .registerBtn, .changePassBtn{
     margin-left: 15px;
  }
  .registerBtn{
    button, a {
      width: 47.5%;
    }
  }
  .changePassBtn {
    button {
      width: 53%;
    }
    a{
      width: 42.5%;
    }
  }
  ion-item{
    background-color: color($colors, primary);
  }
  div{
    .navLogo{
      min-height: 150px;
      min-width: 150px;
      margin: 0 25%;
    }
  }

  h1{
    text-align: center;
  }
  a.forgot{
    color: color($colors, dark);
    margin: 0 30%;
  }
  a.register{
    color: color($colors, dark);
    margin: 0 23%;
  }
  .danger{
    color: red;
    padding-left: 5%;

  }
}

#profile, #editProfile, #event, #greeting, #calendar{
  margin-top: 40px;

  .danger{
    color: red;
    padding-left: 5%;

  }
  #today-btn{
    margin-left: 30%;
  }
}


